/*a.white-btn {
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;
	display: block;
	font-size: 0.85em;
	margin-top: 1.25em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.white-btn:hover {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
}
a.color-btn, form.customform button.color-btn {
	background: none;
	border: 1px solid #001925;
	border-radius: 3px;
	color: #001925;
	display: block;
	font-size: 0.85em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.color-btn:hover, form.customform button.color-btn:hover {
	border: 1px solid #92c500;
	color: #92c500;
}*/
#topbar {
	background: none repeat scroll 0 0 #012232;
	border-bottom: 1px solid #001925;
	padding: 0.3125em 0;
}
#topbar p {
	color: #fff;
	font-size: 0.75em;
	opacity: 0.5;
	position: relative;
	top: 2px;
}
#topbar p strong {
	font-weight: 600;
}
#topbar i {
	color: #ffffff;
	font-size: 1.1em;
	opacity: 0.5;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
#topbar i:hover {
	color: #92c500;
	cursor: pointer;
	opacity: 1;
}
nav {
	background: none repeat scroll 0 0 #00283a;
}
header {
	border-bottom: 4px solid rgba(0, 40, 58, 0.53);
	position: fixed;
	width: 100%;
	z-index: 10;
}
p.logo {
	color: #fff;
	font-size: 1.7em;
	font-weight: 300;
	position: relative;
	text-transform: uppercase;
	top: 0.625em;
}
p.logo strong {
	font-weight: 700;
}

.top-nav li a {
	border-top: 2px solid #00283a;
	color: #fff;
	font-size: 0.70em;
	font-weight: 500;
	padding: 2.1em 1.5em 2.5em;
	text-transform: uppercase;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
.top-nav li a:hover, .top-nav li.active-item a {
	background: none repeat scroll 0 0 #00283a;
	border-top: 2px solid #92c500;
	color: #92c500;
	position: relative;
}
#carousel .text {
	position: absolute;
	top: 40%;
	z-index: 10;
}
.item {
	overflow: hidden;
	width: 100%;
}
.prev-arrow, .next-arrow {
	background: none repeat scroll 0 0 #00283a;
	cursor: pointer;
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 1px;
	text-align: center;
	width: 30px;
}
#carousel .text h2 {
	background: none repeat scroll 0 0 rgba(146, 197, 0, 0.8);
	color: #fff;
	display: inline-block;
	font-size: 2em;
	font-weight: 300;
	margin: 1px 0;
	max-width: 600px;
	padding: 10px 20px;
	width: 100%;
}
#carousel .owl-theme .owl-controls {
	background: none repeat scroll 0 0 rgba(0, 40, 58, 0.53);
	bottom: 0;
	margin: 0;
	padding: 0.625em 0;
	position: absolute;
	width: 100%;
}
.owl-theme .owl-controls .owl-page span {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 3px solid rgba(0, 40, 58, 0.57);
	height: 18px;
	margin: 0 0.3125em;
	opacity: 1;
	width: 18px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: none repeat scroll 0 0 #92c500;
}
#first-block {
	background: none repeat scroll 0 0 #00283a;
	padding: 3em 2em;
	text-align: center;
}
#first-block h1 {
	color: #fff;
	font-size: 2em;
	font-weight: 300;
	margin-top: 0;
}
#first-block p {
	color: #6c7c84;
	font-size: 0.85em;
}
#features {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 6em 2em;
	position: relative;
	text-align: center;
	z-index: 2;
}
#features i {
	background: none repeat scroll 0 0 #92c500;
	border-radius: 100px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3) inset;
	color: #fff;
	display: inline-block;
	font-size: 2em;
	height: 100px;
	line-height: 100px;
	text-align: center;
	width: 100px;
}
#features h2 {
	font-size: 1em;
	font-weight: 600;
	margin: 1.25em 0;
	text-transform: uppercase;
}
#features p {
	color: #777;
	font-size: 0.85em;
	line-height: 1.5em;
}
#about-us {
	background: none repeat scroll 0 0 #00283a;
	clear: both;
}
#about-us:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
#about-us article {
	padding: 4em;
}
article h2 {
	font-size: 4em;
	font-weight: 900;
	letter-spacing: -2px;
	line-height: 0.9;
	margin: 0 0 0.625em 0
}
article h1, article h2, article h3, article h4, article h5, article h6 {
	color: #fff;
}
.media-container {
  overflow: hidden;
}
.media-container video, .media-container img {
  display: block;
  height: 100%;
  max-width: none;
  min-width: 100%;
  width: auto;
}
article p, article li {
	color: #fff;
	font-size: 0.85em;
	opacity: 0.7;
}
article ul {
	padding: 1.25em 0;
}
article ul li {
	list-style-type: none;
	margin: 0.625em 0;
	padding: 0 0 0 1em;
}
article ul li:before {
	background: #00283a none repeat scroll 0 0;
	color: #fff;
	content: "\f006";
	display: inline-block;
	font-family: "mfg";
	font-size: 0.8em;
	height: 20px;
	line-height: 20px;
	margin-left: -1em;
	margin-right: 0.625em;
	text-align: center;
	width: 20px;
}
.about-us-icons i {
	border: 2px solid #92c500;
	border-radius: 100px;
	color: #92c500;
	display: block;
	float: left;
	font-size: 1.6em;
	height: 60px;
	line-height: 60px;
	margin-right: 0.625em;
	text-align: center;
	width: 60px;
}
.about-us-icons {
	display: block;
	margin-top: 2em;
}
h2.section-title:after {
	background: #dedede none repeat scroll 0 0;
	content: "";
	display: block;
	height: 1px;
	margin: 0.31225em auto 0;
	position: relative;
	width: 100px;
}
h2.section-title {
	color: #dedede;
	font-size: 3.8em;
	font-weight: 700;
	letter-spacing: -1px;
	margin: 0 0 1.25em;
	text-align: center;
	text-transform: uppercase;
}
#career #our-work {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 6em 2em;
	position: relative;
	z-index: 2;
}
.tab-item {
	background: #fff none repeat scroll 0 0;
	margin-top: 1.25em;
	padding: 1.25em 0;
}
.our-work-container {
	display: block;
	height: 100%;
	position: relative;
}
.our-work-text {
	background: #00283a none repeat scroll 0 0;
	bottom: 0;
	display: block;
	left: 0;
	opacity: 0;
	padding: 1.25em;
	position: absolute;
	right: 0;
	text-align: center;
	transition: opacity 0.20s linear 0s;
	-o-transition: opacityd 0.20s linear 0s;
	-ms-transition: opacity 0.20s linear 0s;
	-moz-transition: opacity 0.20s linear 0s;
	-webkit-transition: opacity 0.20s linear 0s;
	width: 100%;
}
.our-work-container:hover > .our-work-text {
	opacity: 1;
}
.our-work-text h4 {
	color: #fff;
	font-size: 1em;
	font-weight: 600;
}
.our-work-text p {
	color: #fff;
	font-size: 0.8em;
	opacity: 0.7;
}
.tab-nav {
	display: table;
}
a.tab-label, a.tab-label:link, a.tab-label:visited {
	background: #00283a none repeat scroll 0 0;
	color: #fff;
	display: block;
	font-size: 1em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.tab-label:hover, a.tab-label.active-btn {
	background: #92c500;
	color: #fff;
}
#services {
	background: #6f9600 none repeat scroll 0 0;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 6em 2em;
}
#services h2 {
	color: #fff;
	margin: 0 0 1.25em;
}
#services h2.section-title:after {
	background: #fff none repeat scroll 0 0;
}
#services i {
	background: none repeat scroll 0 0 #fff;
	border-radius: 80px;
	color: #6f9600;
	display: block;
	float: left;
	font-size: 1.8em;
	height: 80px;
	line-height: 80px;
	margin-right: 0.625em;
	text-align: center;
	width: 80px;
}
.service-text {
	display: table;
	position: relative;
}
#services h3 {
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}
#services p {
	color: #fff;
	font-size: 0.8em;
}
#latest-news {
	background: #f3f3f3 none repeat scroll 0 0;
	box-shadow: 0px -10px 9px -11px rgba(0, 0, 0, 0.5);
	padding: 6em 2em;
	position: relative;
	z-index: 3;
}
.news-date {
	background: #6f9600 none repeat scroll 0 0;
	clear: both;
	color: #fff;
	display: block;
	float: none;
	min-height: 118px;
	padding: 0.625em 0;
	text-align: center;
	width: 100%;
}
.day {
	font-size: 2.5em;
	font-weight: 700;
}
.month, .year {
	font-size: 0.85em;
}
.news-text {
	background: #fff none repeat scroll 0 0;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	min-height: 118px;
	padding: 0.625em 1.25em;
}
.news-text p {
	color: #777;
	font-size: 0.85em;
}
#contact {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 6em 2em;
	position: relative;
}
#contact input, #contact textarea {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 3px;
}
form.customform button.color-btn {
	height: auto;
	margin-top: 0;
}
#contact h2 {
	margin: 0 0 1.25em;
	color:#000000;
}
#contact h3 {
	color: #92c500;
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 0.625em;
	text-transform: uppercase;
}
#contact p {
	font-size: 0.85em;
	font-style: normal;
	line-height: 2em;
}
#contact p strong {
	font-weight: 700;
}
#contact i {
	background: #e0e0e0 none repeat scroll 0 0;
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	line-height: 26px;
	margin: 0.625em;
	text-align: center;
	width: 26px;
}
#map-block {
  filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);    
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
}
footer {
	background: none repeat scroll 0 0 #00283a;
	padding: 3.5em 0;
}
footer p, footer a:visited, footer a, footer a:hover {
	color: #6c7c84;
	font-size: 0.8em;
}
@media screen and (max-width: 1043px) {
  header {
  	position: relative;
  }
  .top-nav li a {
  	background: #05374e none repeat scroll 0 0;
  }
  #carousel .text {
  	font-size: 0.8em;
  	top: 20%;
  }
  .owl-controls.clickable {
  	display: none!important;
  }
  .right {
  	float: none;
  }
  .social.right {
  	float: right;
  }
  #about-us article {
  	padding: 4em 2.5em;
  }
}
@media screen and (max-width: 480px) {
  #topbar {
  	line-height: 1.625em;
  	text-align: center;
  }
  .social.right {
  	float: none;
  }
  p.logo, p.nav-text {
  	text-align: center;
  }
}









#map
{
  	width: 100%;
  	max-width: 100%;
  	height: 400px;
 	border: 3px solid #92c500;
}


p .logoBrand{
	height: 60px!important;
	width: 75px!important;
	margin-top: -10px;
}


#carousel img{
	height: 650px;
}


#About_Us{
	background: #6f9600 none repeat scroll 0 0;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 4em 2em;
}
#About_Us h2 {
	color: #fff;
	margin: 0 0 1.25em;
}
#About_Us h2.section-title:after {
	background: #fff none repeat scroll 0 0;
	margin-top: 50px;
}
#About_Us i {
	background: none repeat scroll 0 0 #fff;
	border-radius: 80px;
	color: #6f9600;
	display: block;
	float: left;
	font-size: 1.8em;
	height: 60px;
	line-height: 60px;
	margin-right: 0.625em;
	text-align: center;
	width: 60px;
	margin-top:-15px; 
}

#About_Us h3 {
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}
#About_Us p {
	color: #fff;
	font-size: 15px;
	margin-left: 40px;
	text-align: justify;
}
#About_Us li {
	color: #fff;
	font-size: 15px;
	margin-left: 40px;
	text-align: justify;
}
#About_Us .Mission{
	margin-top: 50px;
}


#Safety {
	background: none repeat scroll 0 0 #00283a;
	clear: both;
}

#Safety:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#Safety article {
	padding: 4em;
}

#Safety img{
	height: 525px;
	width: 100%;
}

article h2 {
	font-size: 4em;
	font-weight: 900;
	letter-spacing: -2px;
	line-height: 0.9;
	margin: 0 0 1.0em 0
}

article h1, article h2, article h3, article h4, article h5, article h6 {
	color: #fff;
}

.media-container {
  overflow: hidden;
}

.media-container img {
  display: block;
  height: 100%;
  max-width: none;
  min-width: 100%;
  width: auto;
}

#Safety i{
	border: 2px solid #92c500;
	border-radius: 100px;
	color: #92c500;
	display: block;
	float: left;
	font-size: 1.6em;
	height: 60px;
	line-height: 60px;
	margin-right: 0.625em;
	text-align: center;
	width: 60px;
}

.fa-shield {
	display: block;
}

#Safety p{
	text-align: justify;
}



#Working_Areas{
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 4em 2em;
}
#Working_Areas h2 {
	color: #000;
	margin: 0 0 1.25em;
}
#Working_Areas h2.section-title:after {
	background: #000 none repeat scroll 0 0;
}

/*#Working_Areas a{
	color: #92c500;
	border: 8px solid #92c500;
	display: block;
	text-align: center;
	margin-right: 0.625em;
	line-height: 150px;
	border-radius: 100px;
	height: 150px;
	width: 150px;
	float: left;
	margin:20px 20px 20px 80px; 
}*/


#Working_Areas i{
	font-size: 3.0em;
	color: #92c500;
	margin-left: -10px;
}


.card {

  	transform-style: preserve-3d;
  	transition: all 1s ease-in-out;
  	color: #92c500;
	border: 8px solid #92c500;
	display: block;
	text-align: center;
	margin-right: 0.625em;
	line-height: 150px;
	border-radius: 100px;
	height: 150px;
	width: 150px;
	float: left;
	margin:20px 20px 20px 10px; 


}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  
	backface-visibility: hidden;
	position: absolute;
  	overflow: hidden;
	color: #92c500;
	display: block;
	text-align: center;

	line-height: 150px;
	border-radius: 100px;
	height: 150px;
	width: 150px;


}
.card .back {
  	background: #00283a;
	transform: rotateY(180deg);
  	color: #92c500;
	display: block;
	text-align: center;
	margin-right: 0.625em;
	line-height: 150px;
	border-radius: 100px;
	height: 150px;
	width: 150px;
	margin: -7px 0 0 -8px;

}
.closebtn {
    position: absolute;
    top: 120px;
    right: 45px;
    font-size: 6em;
    color:  #92c500;
    z-index: 10;
}

#Electrical{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
#Electrical p{
    color:  #fff;
    display: block;
    text-align: justify;
    padding: 1em 1em;
}
#Electrical h2{
	margin-top: 200px;
    color: #92c500;
    display: block;
    text-align: justify;
    text-align: center;
	font-size: 2.6em;
}
#Electrical .picBolt{
    color: #92c500;
	text-align: center;

}
#Electrical img{
	margin-top: 100px;
	height: 550px;
}
#Electrical hr{
	height: 2px;
	color: #92c500;
}


#Plumbing{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
#Plumbing p{
    color:  #fff;
    display: block;
    text-align: justify;
    padding: 1em 1em;
}
#Plumbing h2{
	margin-top: 200px;
    color: #92c500;
    display: block;
    text-align: justify;
    text-align: center;
	font-size: 2.6em;
}
#Plumbing img{
	margin-top: 100px;
	height: 550px;

}
#Plumbing hr{
	height: 2px;
	color: #92c500;
}


#Fire_Fighting{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
#Fire_Fighting p{
    color:  #fff;
    display: block;
    text-align: justify;
    padding: 1em 1em;
}
#Fire_Fighting h2{
	margin-top: 200px;
    color: #92c500;
    display: block;
    text-align: justify;
    text-align: center;
	font-size: 2.6em;
}
#Fire_Fighting img{
	margin-top: 100px;
	height: 550px;

}
#Fire_Fighting hr{
	height: 2px;
	color: #92c500;
}


#HvacSystem{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
#HvacSystem p{
    color:  #fff;
    display: block;
    text-align: justify;
    padding: 1em 1em;
}
#HvacSystem h2{
	margin-top: 200px;
    color: #92c500;
    display: block;
    text-align: justify;
    text-align: center;
	font-size: 2.6em;
}
#HvacSystem img{
	margin-top: 100px;
	height: 550px;

}
#HvacSystem hr{
	height: 2px;
	color: #92c500;
}


#Designing_Experience{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
#Designing_Experience li{
    color:  #fff;
    display: block;
    text-align: justify;
    padding: 1em 1em;
}
#Designing_Experience h2{
	margin-top: 200px;
    color: #92c500;
    display: block;
    text-align: justify;
    text-align: center;
	font-size: 2.6em;
}
#Designing_Experience img{
	margin-top: 100px;
	height: 550px;

}
#Designing_Experience hr{
	height: 2px;
	color: #92c500;
}


#Civil{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
#Civil li{
    color:  #fff;
    margin-left: 50px;
    padding: 1em 1em;

}
#Civil h2{
	margin-top: 120px;
    color: #92c500;
    display: block;
    text-align: center;
	font-size: 2.6em;
}

#CivilName{
    color:#92c500;
    display: block;
   	font-size: 1.6em;
   	margin: 20px 0px 20px 20px;
}

#CivilSubname{
	color:#ffffff;
    display: block;
   	font-size: 1.0em;
   	margin: 20px 0px 20px 20px;
}

#Civil img{
	margin-top: 50px;
	height: 500px;

}
#Civil hr{
	height: 1px;
	color: #92c500;
}



#Clients{
	background: #6f9600 none repeat scroll 0 0;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 4em 2em;
}
#Clients h2 {
	color: #fff;
	margin: 0 0 1.25em;
}
#Clients h2.section-title:after {
	background: #fff none repeat scroll 0 0;
}

.divClient{
	margin: 10px 0px 10px 0px;
}

img#clients{
	max-width: 100%;
	height: 100px;
	width:80px;
}

div.polaroid {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 10px;
  color: #000;
  background: #fff;
}
div.polaroid > img{
	width:100%;
	height:150px;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}
div.polaroid > div.container-fluid{
	padding-top: 10px;
}
div.polaroid > div.container-fluid > p{
	font-size: 14px;
	font-size: 13px;
	font-weight: bold;
}
div#container_nha{
	padding: 10px 0 0 0;
}


#Investors{
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 4em 2em;
}
#Investors h2 {
	color: #000;
	margin: 0 0 1.25em;
}
#Investors h2.section-title:after {
	background: #000 none repeat scroll 0 0;
}

#Career{
	background: #6f9600 none repeat scroll 0 0;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 4em 2em;
}
#Career h2 {
	color: #fff;
	margin: 0 0 1.25em;
}
#Career h2.section-title:after {
	background: #fff none repeat scroll 0 0;
}



footer p{
	text-align: center;
}







#Working_Areas .mepIcon {
	background: none repeat scroll 0 0 #6f9600;
	border-radius: 80px;
	color: #000;
	display: block;
	float: left;
	font-size: 1.8em;
	height: 60px;
	line-height: 60px;
	margin-right: 0.625em;
	text-align: center;
	width: 60px;
	margin-top:-15px; 
}

#Working_Areas h3 {
	color: #000;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}
#Working_Areas .dataMEP {
	color: #000;
	font-size: 15px;
	margin-left: 40px;
	text-align: justify;
	margin-bottom: 60px;
}

#Working_Areas .Mission{
	margin-top: 50px;
}







#Investors i {
	background: none repeat scroll 0 0 #6f9600;
	border-radius: 80px;
	color: #000;
	display: block;
	float: left;
	font-size: 1.8em;
	height: 60px;
	line-height: 60px;
	margin-right: 0.625em;
	text-align: center;
	width: 60px;
	margin-top:-15px; 
}

#Investors h3 {
	color: #000;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}
#Investors p {
	color: #000;
	font-size: 15px;
	margin-left: 40px;
	text-align: justify;
	margin-bottom: 60px;
}

#Investors .Mission{
	margin-top: 50px;
}

#Investors li{
	margin-left: 60px;
}





#Career i {
	background: none repeat scroll 0 0 #fff;
	border-radius: 80px;
	color: #6f9600;
	display: block;
	float: left;
	font-size: 1.8em;
	height: 60px;
	line-height: 60px;
	margin-right: 0.625em;
	text-align: center;
	width: 60px;
	margin-top:-15px; 
}

#Career h3 {
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}
#Career p {
	color: #fff;
	font-size: 15px;
	margin-left: 40px;
	text-align: justify;
}

#Career strong {
	color: #fff;
	font-size: 15px;
	margin-left: 40px;
	text-align: center;
}

#Career .Mission{
	margin-top: 50px;
}






#CompanyOverview {
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 4em 2em;
}
#CompanyOverview  h2 {
	color: #000;
	margin: 0 0 1.25em;
}
#CompanyOverview  h2.section-title:after {
	background: #000 none repeat scroll 0 0;
}



#CompanyOverview i {
	background: none repeat scroll 0 0 #6f9600;
	border-radius: 80px;
	color: #000;
	display: block;
	float: left;
	font-size: 1.8em;
	height: 60px;
	line-height: 60px;
	margin-right: 0.625em;
	text-align: center;
	width: 60px;
	margin-top:-15px; 
}

#CompanyOverview h3 {
	color: #000;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}
/*#CompanyOverview p {
	color: #000;
	font-size: 15px;
	margin-left: 40px;
	text-align: justify;
	margin-bottom: 60px;
}*/

#CompanyOverview li {
	color: #000;
	font-size: 16px;
	margin-left: 40px;
	text-align: justify;
	margin-bottom: 10px;
}

#CompanyOverview .Mission{
	margin-top: 50px;
}

#CompanyOverview li{
	margin-left: 60px;
}


#box{
	margin-left: 40px;
}

#box div{
	font-size: 18px;
	border:2px solid #000000;
	color:#000000;
	margin: 10px 30px 10px 30px;
	font-weight: bold;
	/*-webkit-animation: mymove 5s;  
    -webkit-animation-fill-mode: forwards;
    animation: mymove 5s;
    animation-fill-mode: forwards;*/
}

#box h6{
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	background-color: #6f9600;
}

#box p{
	color: #000000;
	font-size: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: justify;
}

#box hr{
	margin-top: 5px;
	margin-bottom: 5px;
}


/*
@-webkit-keyframes mymove {
    from {left: -100px;}
    to {left: 40px;}
}

@keyframes mymove {
    from {left: -100px;}
    to {left: 40px;}
}*/

.Users{
	margin-left: 40px;
	color: #000000;
	text-align: center;
	margin-top: 50px;

}

.Users p{
	margin-top: 10px;
	font-size: 16px;
}

